@use "../../assets/styles/variable.scss" as *;
@use "../../assets/styles/mixin.scss" as *;

.loginFormContainer {
  height: 100%;
  width: 100%;
  display: flex;

  .imageContainer {
    width: 33%;
    height: 100vh;
    position: relative;

    .image {
      padding: 1rem;
    }
  }

  .form_container {
    @include primaryFont;
    width: 66%;
    @include flex-center;
    padding: 0 2rem;

    .heading {
      font-weight: 600;
      font-size: 1.75rem;
      text-align: center;
      font-family: $popinfont !important;
    }

    .para {
      color: #1f1e1e;
      font-size: 1.1rem;
      text-align: center;
      font-weight: 400;
      padding: 0 4rem;
      margin-bottom: 3rem;
      font-family: $popinfont !important;
    }

    .formBody {
      width: 100%;
      max-width: 380px;
      font-family: $popinfont !important;

      .forgotPassword {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.4rem 0 1.2rem 0;
        .checkbox {
          font-size: 1rem;
        }

        .link {
          font-size: 0.8rem;
          font-weight: 400;
          color: $primary;
          text-decoration: none;
        }
      }

      .inputBox {
        @include flex-col;
        font-family: $popinfont !important;
        margin-bottom: 0.8rem;

        .label {
          font-weight: 400;
          font-size: 0.9rem;
          margin-bottom: 0.4rem;
          font-family: $popinfont !important;
        }

        .input {
          padding: 0.45rem;
          font-family: $popinfont !important;

          &:focus {
            box-shadow: none !important;
            border-color: $primary;
          }
          &:hover {
            border-color: $primary;
          }
        }
        .input::placeholder {
          color: transparent;
          font-family: $popinfont !important;
        }
      }

      .primaryBtn {
        background-color: #f13b13 !important;
        width: 100%;
        font-weight: 600;
        font-size: 1rem;
        padding: 1rem 0;
        font-family: $popinfont !important;
      }

      .divider {
        font-weight: 400;
        font-size: 1rem;
        border-color: #aaa;
        color: #666666;
      }

      .secondaryBtn {
        @include flex-row;
        font-size: 0.9rem;
        width: 100%;
        font-weight: 400;
        padding: 1.2rem 0;
        margin-bottom: 1rem;
        border-color: #679fe6;
        font-family: $popinfont !important;

        .icon {
          display: flex;
        }
      }

      .footerLink {
        @include flex-row;
        gap: 0.5rem;
        margin-top: 2rem;
        font-weight: 400;
        font-size: 1rem;
        flex-wrap: wrap;
        font-family: $popinfont !important;

        .link {
          color: $primary;
          text-decoration: none;
          display: flex;
        }
      }
    }
  }
}

@include respond("mobile") {
  .loginFormContainer {
    flex-direction: column;
    height: 100vh;

    .imageContainer {
      display: none;
    }

    .form_container {
      width: 100%;
      height: 100%;
      padding: 8rem 1rem;
      @include flex-center;

      .heading {
        font-size: 1.5rem;
        text-align: center;
      }

      .para {
        font-size: 1rem;
        padding: 0;
        text-align: center;
      }

      .formBody {
        width: 100%;
        max-width: 400px;

        .inputBox {
          @include flex-col;
          margin-bottom: 1rem;

          .label {
            display: none;
            font-weight: 500;
            margin-bottom: 1rem;
          }

          .input {
            padding: 0.4rem 0.75rem;
            &:focus {
              box-shadow: none !important;
              border-color: $primary;
            }
            &:hover {
              border-color: $primary;
            }
          }
          .input::placeholder {
            color: #aaa;
          }
        }
        .forgotPassword {
          margin: 0.2rem 0 2rem 0;
        }

        .primaryBtn {
          padding: 1rem 0;
        }

        .secondaryBtn {
          padding: 1rem 0;
        }
      }
    }
  }
}

@include respond("tablet") {
  .loginFormContainer {
    // flex-direction: column;
    height: 100vh;
    padding: 0;

    .imageContainer {
      display: none;
    }

    .form_container {
      width: 100%;
      height: 100%;
      padding: 0 1.2rem;
      @include flex-center;
      padding: 0;

      .heading {
        font-size: 2rem;
        text-align: center;
      }

      .para {
        font-size: 1.5rem;
        margin: 0 7rem 2.5rem 7rem;
        text-align: center;
        font-weight: 400;
      }

      .formBody {
        width: 100%;
        max-width: 600px;

        .inputBox {
          .input {
            padding: 0.6rem 0.75rem;
          }
        }

        .primaryBtn {
          padding: 1.2rem 0;
        }

        .secondaryBtn {
          padding: 1.2rem 0;
        }
      }
    }
  }
}
