@use "../../assets/styles/variable.scss" as *;
@use "../../assets/styles/mixin.scss" as *;

.resetPasswordContainer {
  @include flex-row;
  width: 100%;
  // height: 100vh;
  .imageContainer {
    width: 50%;
    height: 100vh;
    position: relative;
    .image {
      padding: 1rem;
      box-shadow: none !important;
    }
  }
  .form_container {
    font-family: $popinfont;
    width: 50%;
    padding: 0 5rem;
    .formTitle {
      width: 100%;
      .heading {
        font-weight: 600;
        font-size: 1.75rem;
        font-family: $popinfont !important;
      }

      .para {
        color: #1f1e1e;
        font-size: 1.1rem;
        font-weight: 400;
        margin-bottom: 3rem;
        font-family: $popinfont !important;
      }
    }
    .formBody {
      width: 100%;
      max-width: 400px;
      font-family: $popinfont !important;
      .inputBox {
        @include flex-col;
        font-family: $popinfont !important;
        margin-bottom: 0.8rem;

        .label {
          font-weight: 450;
          font-size: 0.85rem;
          padding: 0 0.5rem;
          margin-bottom: 0.5rem;
          font-family: $popinfont !important;
        }

        .input {
          padding: 0.45rem;
          font-family: $popinfont !important;
          border-radius: 8px;

          &:focus {
            box-shadow: none !important;
            border-color: $primary;
          }
          &:hover {
            border-color: $primary;
          }
        }
        .input::placeholder {
          color: transparent;
          font-family: $popinfont !important;
        }
      }

      .primaryBtn {
        background-color: #f13b13 !important;
        border-radius: 8px;
        width: 100%;
        font-weight: 500;
        font-size: 0.9rem;
        padding: 1.2rem 0;
        font-family: $popinfont !important;
        margin-top: 0.5rem;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .resetPasswordContainer {
    @include flex-row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0rem;

    .imageContainer {
      display: none;
    }
    .form_container {
      width: 100%;
      padding: 5rem 1rem;
      @include flex-center;
      .formTitle {
        width: 100%;
        @include flex-center;

        .heading {
          font-weight: 600;
          text-align: center;
          font-size: 1.75rem;
          margin-bottom: 1rem;
          font-family: $popinfont !important;
        }

        .para {
          font-family: $popinfont !important;
          text-align: center;
          color: black;
          font-size: 1.1rem;
          font-weight: 400;
          margin-bottom: 2rem;
        }
      }
      .formBody {
        margin-top: 1rem;
        width: 100%;
        max-width: 50%;
        @include flex-col;
        .inputBox {
          display: flex;
          flex-direction: column;
          .label {
            display: none;
          }

          .input {
            padding: 0.5rem;
            font-family: $popinfont !important;
            border-radius: 8px;
          }
          .input::placeholder {
            color: #bbb;
          }
        }
      }
    }
  }
}

@include respond("mobile"){
   .resetPasswordContainer {
    @include flex-row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0rem;

    .imageContainer {
      display: none;
    }
    .form_container {
      width: 100%;
      padding: 5rem 1rem;
      @include flex-center;
      .formTitle {
        width: 100%;
        @include flex-center;

       .heading {
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
        font-family: $popinfont !important;
      }

      .para {
        font-size: 0.85rem;
        padding: 0rem;
      }
      }
      .formBody {
        margin-top: 1rem;
        width: 100%;
        max-width: 100%;
        @include flex-col;
        .inputBox {
          display: flex;
          flex-direction: column;
          .label {
            display: none;
          }

          .input {
            padding: 0.5rem;
            font-family: $popinfont !important;
            border-radius: 8px;
          }
          .input::placeholder {
            color: #bbb;
          }
        }
      }
    }
  }
}