@use "../../assets/styles/variable.scss" as *;
@use "../../assets/styles/mixin.scss" as *;

.travlePartnerContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  font-family: $popinfont !important;

  .imageContainer {
    width: 33%;
    height: 100vh;
    position: relative;

    .image {
      padding: 1rem;
    }
  }

  .form_container {
    @include primaryFont;
    width: 67%;
    @include flex-center;
    padding: 3rem 0;

    .heading {
      font-weight: 600;
      font-size: 2rem;
      text-align: center;
      font-family: $popinfont !important;
    }

    .para {
      color: black;
      font-size: 1rem;
      text-align: center;
      font-weight: 400;
      padding: 0 7.5rem;
      font-family: $popinfont !important;
    }

    .formBody {
      width: 100%;
      max-width: 450px;

      .inputBox {
        @include flex-col;
        font-family: $popinfont !important;
        margin-bottom: 0.8rem;

        .label {
          font-weight: 500;
          font-size: 0.8rem;
          font-family: $popinfont !important;
        }

        .input {
          padding: 0.4rem;
          font-family: $popinfont !important;

          &:focus {
            box-shadow: none !important;
            border-color: $primary;
          }
          &:hover {
            border-color: $primary;
          }
        }
        .input::placeholder {
          color: transparent;
        }
      }

      .primaryBtn {
        background-color: #f13b13 !important;
        width: 100%;
        font-weight: 400;
        font-size: 1rem;
        padding: 1rem 0;
        font-family: $popinfont !important;
      }

      .divider {
        font-weight: 400;
        font-size: 1rem;
        border-color: #aaa;
        color: #666666;
      }

      .secondaryBtn {
        @include flex-row;
        font-size: 0.8rem;
        width: 100%;
        font-weight: 400;
        padding: 1.2rem 0;
        margin-bottom: 1rem;
        border-color: #679fe6;
        font-family: $popinfont !important;
        gap: 0.5rem;
      }

      .footerLink {
        display: flex;
        justify-content: center;
        gap: 0.8rem;
        margin-top: 0.9rem;
        font-weight: 500;
        font-size: 1rem;
        flex-wrap: wrap;
        font-family: $popinfont !important;

        .link {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }
}

// MOBILE RESPONSIVENESS
@include respond("tablet") {
  .travlePartnerContainer {
    flex-direction: column;

    .imageContainer {
      display: none;
    }

    .form_container {
      width: 100%;
      height: 100vh;
      @include flex-center;
      gap: 1rem;

      .heading {
        font-size: 2rem;
        text-align: center;
      }

      .para {
        font-size: 1.2rem;
        padding: 0rem 0.5rem;
        width: 100%;
        text-align: center;
      }

      .formBody {
        width: 100%;
        max-width: 400px;
        padding: 0 0.4rem;

        .inputBox {
          @include flex-col;
          margin-bottom: 1rem;

          .label {
            display: none;
            font-weight: 500;
            margin-bottom: 0.3rem;
          }

          .input {
            padding: 1rem 0.75rem;
            &:focus {
              box-shadow: none !important;
              border-color: $primary;
            }
            &:hover {
              border-color: $primary;
            }
          }
          .input::placeholder {
            color: #aaa;
          }
        }

        .primaryBtn {
          padding: 1.5rem 0;
        }

        .secondaryBtn {
          padding: 1.5rem 0;
        }
      }
    }
  }
}
