@use "../../assets/styles/variable.scss" as *;
@use "../../assets/styles/mixin.scss" as *;
.forgetPasswordContainer {
  @include flex-row;
  width: 100%;
  gap: 5rem;
  .imageContainer {
    width: 50%;
    height: 100vh;
    position: relative;

    .image {
      padding: 1rem;
    }
  }
  .form_container {
    width: 50%;
    .formTitle {
      width: 100%;
      .heading {
        font-weight: 600;
        font-size: 1.75rem;
        width: 100%;
        margin-bottom: 1rem;
        font-family: $popinfont !important;
      }

      .para {
        font-family: $popinfont !important;
        color: black;
        font-size: 1.1rem;
        font-weight: 400;
        margin-bottom: 2rem;
      }
    }
    .formBody {
      @include primaryFont;
      margin-top: 1rem;
      width: 100%;
      max-width: 50%;
      .inputBox {
        display: flex;
        flex-direction: column;
        .label {
          font-weight: 500;
          font-size: 0.85rem;
          padding: 0 0.5rem;
          margin-bottom: 0.5rem;
          font-family: $popinfont !important;
        }

        .input {
          padding: 0.5rem;
          font-family: $popinfont !important;
          border-radius: 8px;

          &:focus {
            box-shadow: none !important;
            border-color: $primary;
          }
          &:hover {
            border-color: $primary;
          }
        }
        .input::placeholder {
          color: transparent;
        }
      }

      .primaryBtn {
        background-color: #f13b13 !important;
        border-radius: 8px;
        width: 100%;
        font-weight: 500;
        font-size: 0.9rem;
        padding: 1.2rem 0;
        margin-top: 1rem;
        font-family: $popinfont !important;
      }
    }
  }
}

@include respond("mobile") {
  .forgetPasswordContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .imageContainer {
      display: none;
    }

    .form_container {
      width: 100%;
      padding: 5rem 1rem;
      @include flex-center;
      .formTitle {
        width: 100%;
        .heading {
          font-weight: 600;
          font-size: 1.25rem;
          text-align: center;
          font-family: $popinfont !important;
        }

        .para {
          font-size: 0.85rem;

          padding: 0rem;
          text-align: center;
        }
      }

      .formBody {
        width: 100%;
        max-width: 100%;

        .inputBox {
          font-family: $popinfont !important;
          .label {
            display: none;
          }

          .input {
            padding: 0.5rem;
            font-family: $popinfont !important;

            &:focus {
              box-shadow: none !important;
              border-color: $primary;
            }
            &:hover {
              border-color: $primary;
            }
          }
          .input::placeholder {
            color: #bbb;
            font-family: $popinfont !important;
          }
        }

        .footerLink {
          margin-top: 3rem;
          font-size: 0.85rem;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .forgetPasswordContainer {
    @include flex-row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0rem;

    .imageContainer {
      display: none;
    }
    .form_container {
      width: 100%;
      padding: 5rem 1rem;
      @include flex-center;
      .formTitle {
        width: 100%;
        @include flex-center;

        .heading {
          font-weight: 600;
          text-align: center;
          font-size: 1.75rem;
          margin-bottom: 1rem;
          font-family: $popinfont !important;
        }

        .para {
          font-family: $popinfont !important;
          text-align: center;
          color: black;
          font-size: 1.1rem;
          font-weight: 400;
          margin-bottom: 2rem;
        }
      }
      .formBody {
        margin-top: 1rem;
        width: 100%;
        max-width: 500px;
        @include flex-col;
        .inputBox {
          display: flex;
          flex-direction: column;
          .label {
            display: none;
          }

          .input {
            padding: 0.5rem;
            font-family: $popinfont !important;
            border-radius: 8px;
          }
          .input::placeholder {
            color: #bbb;
          }
        }
      }
    }
  }
}
