@use "../../assets/styles/mixin.scss" as *;
@use "../../assets/styles/variable.scss" as *;

.navigationTab_container{
  @include primaryFont;
  width: 100%;
  display: flex;
  margin: 1rem auto;
  .navigationTab {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap; 

.selectedTab {
  @include primaryFont;
  background-color: $primary;
  color: white !important;
  font-size: 0.95rem;
  padding: 1.1rem 0.5rem;
  white-space: nowrap;
  border-radius: 8px;
  &:hover {
    background-color: rgb(211, 58, 3) !important;
    color: white !important;
  }
}

.nonSelectedTab {
  @include primaryFont;
  background-color: white;
  color: #333;
  border: 2px solid $primary;
  font-size: 0.95rem;
  padding: 1rem 0.5rem;
  white-space: nowrap;
    border-radius: 8px;
  &:hover {
    background-color: $primary !important;
    color: white !important;
  }
}
  }
}
// MOBILE
@include respond("mobile") {
  .navigationTab_container {
    .navigationTab {
      overflow-x: auto;
      margin: auto;
      white-space: nowrap;
      gap: 0.5rem;
    }
  }

  .selectedTab,
  .nonSelectedTab {
    font-size: 0.85rem !important;
  }
}
